body{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: purple;
    border: red solid 8px;
    background-color: bisque;
    font-size:50px;
    padding: 100px;
}

li{
    border: red solid 4px;
    padding: 20px;
    margin:10px;
    text-decoration-style: none;
    text-align: center;
    background-color: bisque;
    font-size: 20px;
}

img{
    border: red solid 2px;
    
}

h2{
    font-size: 30px;
    border: red solid 4px;
    background-color: cornflowerblue;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 9);
}

p{
    font-size: 18px;
}